div#center
{
	position:relative;
	top:100px;
	left:40%;
	width:30%;
}
.btn{
	background-color:#f44336; /*red*/
	border : none;
	color : white;
	padding : 15px 32px;
	text-align : center;
	text-decoration : none;
	width : 100%;
}
.btn {
	transition-duration :0.4s;
}
.btn:hover
{
	background-color : dark red;
	border : none;
	
	padding : 15px 32px;
	text-align : center;
	text-decoration : none;
	width : 100%;
}